.header {
  padding: 0px;
}

body .header a {
    text-transform: uppercase;
    text-decoration: none;
}

body {
  font-family: OpenSans, sans-serif;
}

#top-nav .nav-menu {
  display: flex;
  justify-content: center;
}

/* footer */

  footer {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
    margin-right: 0;
    background-color: white;
    margin-left: 2%;
    border-top: none;
  }

#footer-container {
  display: flex;
  flex-direction: column;
}


#notes-wrapper {
    display: flex;
    flex-direction: row;
    }

.site-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 5%;
}

.site-links li a{
  color: #872334;
  text-decoration: underline;
}

.footer-logo {
  width: 200px;
  padding-right: 5%;

}

.footer-text {
  margin-left:3%;
}

.copyright {
  text-align:center;
  padding-top: 2%;
}


/* Home page */

h2 .homepage_heading {
  text-align: center;
  color: #872334;
  text-transform: uppercase;
  font-size: 20px;
}
