.header {
  padding: 0px;
  overflow-x: hidden;
}

.row {
  justify-content: space-around;
}

body .header a {
  text-transform: uppercase;
  text-decoration: none;
}

body {
  font-family: "OpenSans", sans-serif;
}

/* IAJS Header */
.top-menu {
  height: 51px;
}

h1.upper.header-title {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 27px;
}

h4.upper.header-sub-title {
  margin: 10px 0 10px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
}

#top-nav {
  padding: 0;
}

#top-nav .nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  text-transform: uppercase;
}

h1 {
  text-transform: capitalize;
}


/*Advanced Search*/
.search-groups {
  background-color: #dccaa0;
  margin-bottom: 3%;
}

.adv-select__opts ul {
  padding: 0;
  margin-bottom: 0;
}

.adv-select__opt {
  cursor: pointer;
  margin: .5em;
  list-style: none;
  color: darkslategray
}

.adv-select__opt:hover {
  color: #872334;
  text-decoration: underline;
}

.adv-select__opt--grayed-out:hover {
  filter: none;
}

.advanced-search-selectors .btn-group.dropright {
  min-width: 65%;
}

.advanced-search-field__delete-button {
  display: inline;
  margin: 0;
  width: 36px;
  position: relative;
  top: 0;
  text-align: center;
  color: #8a100b;
  text-indent: -9999px;
  background: none;
}

.advanced-search-field__delete-button:hover {
  background: none;
  color: #a90000;
}

.advanced-search-field__delete-button::after {
  font-family: "FontAwesome";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 24px;
  padding: 6px;
  content: "\f05c";
}

.advanced-search-field__label-row {
  text-align: right;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advanced-search-field__label {
  margin: 0;
  display: block;
  font-weight: bold;
}

.advanced-search-field__input[type="text"] {
  width: 70%;
}

.advanced-search-field__range-inputs {
  display: inline;
}

.advanced-search-field__input[type="text"].advanced-search-field__input--range {
  width: 6em;
}

.advanced-search-field__select {
  padding: 0 .5em;
}

.advanced-search-field__or-label {
  font-weight: 400;
}

button.add-query-row-button {
  background: #77749d;
  color: white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  min-height: 30px;
  text-align: center;
  padding: 0;
}

legend {
  padding: 1%;
}

#indipetae-advanced-search-form__reset-button, input#indipetae-advanced-search-form__submit-button {
  float: left;
  margin-top: 0;
}

.fa-times-circle-o:before {
  content: "\f05c";
}

/* Search results */
.search-results-heading {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.col-md-12.result-type-label {
  margin-bottom: 1em;
}

.you-searched-box {
  background: #f4f4f4;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 1em;
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: .5em;
  display: flex;
  flex-wrap: wrap;
}

.you-searched-box__constraint {
  margin-left: .5em;
  margin-bottom: 1em;
}

.you-searched-box__term {
  background: white;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 13px;
}

.you-searched-box__delete {
  background: white;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 13px;
  margin-left: -8px;
  font-weight: bold;
  cursor: pointer;
}

.you-searched-box__new-search {
  margin-left: auto;
  margin-top: auto;
}

.tot-results-found {
  margin-bottom: 2em;
  font-size: 14px;
}

.tot-results-found__total {
  font-weight: 500;
}

#elasticsearch-results {
  padding-left: 2em;
}

.elasticsearch-sort-select {
  float: right;
}

.elasticsearch-result h3, #elasticsearch-sidebar h3, #elasticsearch-sidebar h4 {
  padding-top: 0;
  font-size: 18px;
}

.elasticsearch-result__title a:visited, .elasticsearch-result__title a {
  color: #8a100b;
}

.elasticsearch-result {
  margin-bottom: 2.5em;
  border: none;
}

.elasticsearch-result ul {
  margin-top: 0;
}

.elasticsearch-result__metadata {
  font-size: .9em;
}

.elasticsearch-result__metadata-list {
  padding-left: 0;
  list-style: none;
}

.elasticsearch-result__metadata-header {
  font-weight: 500;
}

#elasticsearch-sidebar {
  padding-right: 1em;
}

/*Content*/

#banner-wrapper {
  background-image: url(/themes/minimalist/img/indipetae-cover-20200701.jpg);
  background-size: cover;
  height: 300px;
  width: auto;
  color: white;
  display: flex;
  flex-direction: column;
  /* Center for IE11, space-evenly for evergreen browsers */
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

}

.banner-text {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "OpenSans", sans-serif;
}

.banner-link {
  border: 1px solid white;
  padding: 1%;
  background-color: rgb(255, 255, 255, 0.2);
}

.banner-link a {
  color: white;
  text-decoration: none;
}

.show .element {
  border: none;
}

h3 {
  font-size: 16px;
  color: black;
  padding-top: 10%;
  padding-bottom: 0px;
  font-weight: bold;
}

.element-text {
  font-size: 16px;
  color: #555555;
}

.element-text a {
  color: #0056B3;
}

.element-hide {
  display: none !important;
}

#content {
  padding: 0;
}

#search-container {
  width: 30%;
}

/* Browse Content */

.secondary-nav {
  background-color: rgb(140, 138, 137, 0.2);
}

.item-pagination {
  width: 15%;
  text-align: center;
  overflow: inherit;
  background-color: white;
}


/* browse results*/

.item h2 {
  font-size: 18px;
}

/* footer */

footer {
  padding-top: 3%;
  width: 100%;
  float: left;
  background-color: white;
  margin-top: 1em;
}

#footer-container {
  display: flex;
  flex-direction: column;
}


#notes-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
}

footer .site-links {
  text-align: center;
  list-style-type: none;
  padding: .75em 0;
  margin: 3% 0;
  font-size: 14px;
}

.site-links li a {
  color: #872334;
  text-decoration: none;
}


.site-links li a:hover {
  text-decoration: underline;
}

.site-links li {
  display: inline-block;
  border-right: 1px solid;
  padding: 0 3%;
  line-height: 1;
}

.site-links li:last-child {
  border-right: 0px;
}


.copyright {
  text-align: center;
  padding-top: 2%;
  color: #B29D6C;
  font-size: 14px;
}


/* Home page */

h2 .homepage_heading {
  text-align: center;
  color: #872334;
  text-transform: uppercase;
  font-size: 20px;
}

.home-search {
  background: rgba(0, 0, 0, 0.25);
  padding: 25px 25px 20px;
  color: white;
  font-size: 21px;
  width: 65%;
}

label.home-search__label {
  display: block;
  font-size: 21px;
  margin-bottom: 10px;
  margin-top: 10px
}

.home-search__input {
  /*
  width: 80%;
  display: inline-block;
  color: #222;
  margin: 0;
  height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
   */
  margin: 0;
}

form#home-search__form {
  width: 100%;
  font-size: 14px;
}

.home-search__submite {
  background: #8a100b;
  color: #fff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.home-search__button-text {
  padding: 0 .5em;
}

.home-search__button-icon::after {
  content: "\f002";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
}

.home-search__adv_search_link {
  color: #fff;
  float: right;
  font-size: 16px;
}

.home-search__adv_search_link a {
  text-decoration: none;
  margin-left: 1em;
  display: inline-block;
}

.home-search__adv_search_link a:visited {
  color: #fff;
}

.top-search {
  margin-top: .5em;
  margin-bottom: 1em;
}

.top-search__label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.top-search__input {
  margin: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.top-search__submit {
  display: inline-block;
  width: 87px;
  max-width: 19%;
  margin-left: -2%;
  background: #8a100b;
  height: 37px;
  color: #ffffff;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.advanced-search-link {
  align-self: flex-end;
  margin-bottom: 8px;
}

.aggregation {
  margin-bottom: 3em;
}

.aggregation__modal-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

.aggregation__modal-close-button:hover {
  background: transparent;
  font-weight: 900;
}

.aggregation__list {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: .9em;
}

.aggregation__facet-label {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}

.aggregation__list-item {
  display: table-row;
}

.aggregation__bucket-label {
  display: table-cell;
  overflow-wrap: break-word;
  text-indent: -15px;
  padding-left: 15px;
  padding-bottom: 6px;
}

.aggregation__bucket-count {
  display: table-cell;
  text-align: right;
  width: 16px;
}

.aggregation__more-button, button.aggregation__more-button:hover {
  border: none;
  background: transparent;
  color: #501315;
  font-size: .9em;
  padding: 0;
}

.aggregation__more-button:hover {
  text-decoration: underline;
  color: #501315;
  background: transparent;
}

.aggregation__pagination {
  margin-top: 1em;
}

/* Responsiveness*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-brand {
    width: 90%;
  }

  #top-nav .nav-menu {
    width: 100%;
  }

  #top-nav {
    flex-direction: column;
  }

  #search-container {
    width: 80%;
    padding: 2%;
  }

  #content {
    padding: 0px;
  }

  #banner-wrapper {
    height: auto;
  }

  .banner-text {
    font-size: 2em;
    padding: 5%;
  }

  .home-search {
    width: 88%;
  }
}

@media screen and (max-width: 767px) {
  header {
    display: none;
  }

  #top-nav {
    flex-direction: column;
  }

  #top-nav .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .navigtion .nav-menu {
    margin: 0px;
  }

  #search-container {
    width: 100%;
    padding: 2%;
  }

  #content {
    padding: 2%;
  }

  #banner-wrapper {
    height: auto;
  }

  .banner-text {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    padding: 2%;
  }

  .home-search {
    width: 100%;
  }
}

body {
  min-width: 370px;
}

/* Hide nav on load to prevent flash of unstyled content */
ul.navigation {
  display: none;
}

.mobile-nav-hardcode {
  display: none;
}

.footer-logo {
  width: 200px;
  padding-right: 5%;

}

@media screen and (max-width: 767px) {

  .navbar-header {
    background-color: transparent;
    width: 100%;
  }

  .desktop-nav {
    display: none !important;
  }

  .mobile-nav-hardcode {
    display: inherit;
    background-color: #69635f;
  }

  .navbar-header button.navbar-toggle {
    width: 55px;
    height: 25px;
    margin: .2em 0;
    float: right;
    border-radius: 5px;
    outline: none;
  }

  .mobile-nav-hardcode li a {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    text-decoration: none !important;
  }

  .mobile-nav-hardcode .dropdown-menu {
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0rem;
    padding: .5em 0 .5em 2.5em;
  }

  .burg {
    background-image: url(/themes/minimalist/img/burg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .footer-logo {
    width: 50%;
    padding-right: 0;
    margin: 0 auto 1em;
    display: block;
  }
}

/* Founding Partners Styles */

#founding {
  border-top: solid 5px #872334;
  text-align: center;
  margin-bottom: 1.5rem;
}

#proj-updates {
  background-color: rgb(135, 35, 52, 0.1);
  padding: 0 3% 3%;
}

#founding h2, #proj-updates h2 {
  color: #872334;
  text-align: center;
}

#founding img {
  width: 250px;
  min-width: 75px;
}

@media screen and (max-width: 767px) {
  #founding img {
    width: 75%;
    margin: 0 0 1em 0;
  }
}

/* ITEM RECORD STYLES */

#item_wrap {
  position: relative;
}

#item_wrap h3 {
  padding: 0;
}

#item_wrap .element {
  margin-bottom: .75em;
}

#transcription .element h3 {
  padding: 0px;
}

.transcript_text {
  padding: 1.5em;
  margin-top: .5em;
  margin-bottom: 2em;
  background-color: lightgrey;
}

#item_wrap .item-pagination {
  width: 100%;
  text-align: center;
  overflow: inherit;
  background-color: white;
}

#item_wrap .navigation li {
  display: inline-block;
  width: 15%;
}

#itemfiles .item-file.image-jpeg {
  display: none;
}

.letter-right-col > div {
  margin-bottom: 2rem;
}

.letter-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: .5em;
}

.letter-wrapper a[href*='pdf'] {
  display: none;
}

.letter-wrapper {
  margin-right: 2em;
}

@media screen and (max-width: 767px) {

  #item_wrap .navigation li {
    display: inline-block;
    width: 55%;
  }

  #item_wrap .element-set {
    text-align: center;
    border-bottom: 3px double #ddd;
  }

  #item_wrap .element-set .element {
    margin: 0 1em 2em;
    display: inline-block;
  }

  #item_wrap .element-set .element h3 {
    line-height: 2;
  }

  #item_wrap h3 {
    text-align: center;
  }

  #itemfiles {
    text-align: center;
    border-bottom: 3px double #ddd;
  }

  #item-output-formats {
    text-align: center;
  }

  #item-output-formats #output-format-list {
    list-style: none;
  }
}

/* MORE CUSTOM */

.adv-select__opts {
  box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5);
  padding: 10px;
}

